<?xml version="1.0"?>

<launch>
  
  <group ns="sphere">
	  <arg name="sphere" default="$(find sphere_description)/urdf/dome.urdf" />

	  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg sphere)" />
	  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
  
  </group>

</launch>
