<?xml version="1.0"?>

<launch>


	<arg name="port" default="/dev/ttyACM3" />
	<arg name="baud" default="115200" />

 
	<include file="$(find module)/launch/robot_description.launch"/>
	<include file="$(find module)/launch/object_description.launch"/>

 
	<!-- for fake control & moveit -->
	
	<param name="robot_description_semantic" textfile="$(find srdf)/config/firefighter.srdf" />	
	<rosparam command="load" file="$(find srdf)/config/kinematics.yaml" />
	<rosparam command="load" file="$(find srdf)/config/ompl_planning.yaml" />
	<rosparam command="load" file="$(find srdf)/config/fake_controllers.yaml" />
	<param name="moveit_controller_manager" value="moveit_fake_controller_manager/MoveItFakeControllerManager"/>

	<include file="$(find srdf)/launch/move_group.launch">
		<arg name="allow_trajectory_execution" value="true"/>
		<arg name="moveit_controller_manager" value="fake"/>
	</include>



	<!-- for trajectory generation-->
	<param name="allow_trajectory_execution" value="true"/>
	<param name="planning_scene_monitor/publish_planning_scene" value="true"/>
	<param name="planning_scene_monitor/publish_geometry_updates" value="true"/>
	<param name="planning_scene_monitor/publish_state_updates" value="true"/>
	<param name="planning_scene_monitor/publish_transforms_updates" value="true"/>


  
 
	  <!--main program what we want to process-->
	  


	<!-- main source code-->
	<node name="module" pkg="module" type="module" output="screen"/>
	<!-- for real robot control-->
	<!--

	<node name="control_slider" pkg="module" type="slider_control.py"> 
		<param name="port" type="string" value="$(arg port)" />
		<param name="baud" type="int" value="$(arg baud)" />
	</node>
	-->
 
   
	<!-- after get rviz.config-->

	
	<arg name="rvizconfig" default="$(find module)/rviz/config.rviz" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
	
	<!-- before get rviz.config-->
	
	<!--
	<node name="rviz" pkg="rviz" type="rviz" />
	-->

  
</launch>
